{{#*inline "page"}}

    <h2>Changes</h2>
    <h3><a href="/event/{{ event.id }}">{{ event.name }}</a></h3>

    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-theme-l1">
            <th>Status</th>
            <th>Data</th>
            <th class="w3-right-align">Run Id</th>
            <th>Source</th>
            <th>User ID</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {{#each records}}
            <tr>
                <td>{{ stringify status }}</td>
                <td>{{ stringify data }}</td>
                <td class="w3-right-align">{{ this.change.run_id }}</td>
                <td>{{ source }}</td>
                <td>{{ user_id }}</td>
                <td>{{ created }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


{{/inline}}
{{> layout}}
