{{#*inline "page"}}

<h2>{{ event.name }}</h2>
<ul>
    <li><a href="/event/{{ event.id }}/oc/out">OCheckList changes</a></li>
    <li><a href="/event/{{ event.id }}/qe/in">QuickEvent in-changes</a></li>
</ul>
<h3>Files</h3>
<ul>
    {{#each files}}
        <li><a href="/event/{{ ../event.id }}/file/{{ this.name }}" >{{ this.name }}</a> size: {{ this.size }}</li>
    {{/each}}
</ul>

{{/inline}}
{{> layout}}
