{{#*inline "page"}}

    <div>
        <div class="w3-container w3-theme-l1">
            <h2 class="w3-margin">Edit event {{event.name}}</h2>
        </div>
        <form id="eventForm" class="w3-container w3-margin" action="/event" method="post">
            {{#with event}}
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <label>
                            <b>Id</b>
                            <input class="w3-input w3-border w3-margin-bottom" readonly type="text" placeholder="New event" name="id" value="{{id}}" required>
                        </label>
                        <label>
                            <b>Name</b>
                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter event name" name="name" value="{{name}}" >
                        </label>
                        <label>
                            <b>Place</b>
                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter event place" name="place" value="{{place}}" >
                        </label>
                        <label>
                            <b>Start time</b>
                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter event start date-time with UTC offset" name="start_time" value="{{start_time}}" >
                        </label>
                    </div>
                    <div class="w3-half">
                        <div style="display:flex; justify-content:center"><img src="data:image/png;base64,{{../api_token_qrc_img_data}}" alt="API token QRC" /></div>
                        <label>
                            <b>API token</b>
                            <input class="w3-input w3-border w3-margin-bottom" readonly type="text" placeholder="API token" name="api_token" value="{{api_token}}" required>
                        </label>
                        <label>
                            <b>Owner</b>
                            <input class="w3-input w3-border w3-margin-bottom" readonly type="text" name="owner" value="{{owner}}" required>
                        </label>
                    </div>
                </div>
            {{/with}}
        </form>
        <div class="w3-flex" style="align-items:center;gap:8px">
            <div style="flex-grow: 8"></div>
            {{#if event.id}}
                <button onclick="document.getElementById('confirmDeleteEventDialog').style.display='block'" class="w3-button w3-round-large w3-red">Delete event</button>
            {{/if}}
            <a href="{{back_link}}" class="w3-button w3-round-large w3-border">Cancel</a>
            <button class="w3-button w3-round-large w3-theme" onclick="submitForm()">Save</button>
        </div>
        <div class="w3-margin"></div>
    </div>

    <div id="confirmDeleteEventDialog" class="w3-modal" style="display:none;">
        <div class="w3-modal-content w3-animate-top">
            <header class="w3-container w3-red">
                <h2>Confirm Deletion</h2>
            </header>
            <div class="w3-container">
                <p>Do you really want to delete this event?</p>
            </div>
            <footer class="w3-container w3-padding-16 w3-center">
                <button onclick="deleteEvent()" class="w3-button w3-red">Yes</button>
                <button onclick="document.getElementById('confirmDeleteEventDialog').style.display='none'" class="w3-button">No</button>
            </footer>
        </div>
    </div>

    <script>
        function submitForm() {
            const form = document.getElementById('eventForm');
            form.submit();  // This will submit the form programmatically
        }
        function deleteEvent() {
            // alert("Event deleted!");
            document.getElementById('confirmDeleteEventDialog').style.display = 'none';
            window.location.href = "/event/{{event.id}}/delete";
        }
    </script>

{{/inline}}
{{> layout}}
