{{#*inline "page"}}

    <h2>Events</h2>
    <div class="w3-container w3-light-grey">
        {{#if user}}
            <a href="/event/create" class="w3-button w3-green w3-round-large w3-right"><b>create event</b></a>
        {{/if}}
    </div>

    <table class="w3-table-all w3-hoverable">
        {{#each events}}
            <tr>
<!--                <td>{{this.id}}</td>-->
                <td><a href="/event/{{ this.id }}">{{this.name}}</a></td>
<!--                <td>{{stringify this}}</td>-->
                <td>{{this.place}}</td>
                <td>{{this.date}}</td>
                {{#if ../user}}
                <td><a href="/event/edit/{{this.id}}" class="w3-button w3-round-large w3-border"><i class="fa fa-cog"></i> edit</a></td>
                {{/if}}
            </tr>
        {{/each}}
    </table>

{{/inline}}
{{> layout}}
