{{#*inline "page"}}

    <h2>Events</h2>
    <div class="w3-container w3-light-grey">
        {{#if show_create_demo}}
            <a href="/event/create-demo" class="w3-button w3-round-large"><b>create demo event</b></a>
        {{/if}}
        {{#if user}}
            <a href="/event/create" class="w3-button w3-green w3-round-large w3-right"><b>create event</b></a>
        {{/if}}
    </div>

    <table class="w3-table-all w3-hoverable">
        {{#each events}}
            <tr>
                <td><a href="/event/{{ this.id }}">{{this.name}}</a></td>
                <td>{{this.place}}</td>
                <td>{{dtstr this.start_time}}</td>
                <td>{{dtstr this.owner}}</td>
            </tr>
        {{/each}}
    </table>

{{/inline}}
{{> layout}}
