{{#*inline "page"}}

    <h1>QuickEvent changes</h1>
    <h2>{{ event_name }}</h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>SI</th>
            <th>Check time</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {{#each change_set}}
            <tr>
                <td>{{ this.id }}</td>
                <td>{{ this.siId }}</td>
                <td>{{ this.checkTime }}</td>
                <td>{{ this.comment }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

{{/inline}}
{{> nav}}
{{> layout}}
