{{#*inline "page"}}

    <h1>Quick Event changes to import</h1>
    <h2><a href="/event/{{ event.id }}">{{ event.name }}</a></h2>

    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-theme-l1">
            <th>Created</th>
            <th class="w3-right-align">Run Id</th>
            <th class="w3-right-align">SI</th>
            <th>Check</th>
            <th>Start</th>
            <th>Comment</th>
            <th>Source</th>
            <th>User ID</th>
        </tr>
        </thead>
        <tbody>
        {{#each records}}
            <tr>
                <td>{{ this.created }}</td>
                <td class="w3-right-align">{{ this.change.run_id }}</td>
                <td class="w3-right-align">{{ this.change.si_id }}</td>
                <td>{{ this.change.check_time }}</td>
                <td>{{ this.change.start_time }}</td>
                <td>{{ this.change.comment }}</td>
                <td>{{ this.source }}</td>
                <td>{{ this.user_id }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


{{/inline}}
{{> layout}}
