{{#*inline "page"}}

    <h2>Start list</h2>
    <h3><a href="/event/{{ event.id }}">{{ event.name }}</a></h3>

    <div>
    {{#each classes}}
        <a class="w3-button" href="/event/{{ ../event.id }}/results?class_name={{this.name}}">{{ this.name }}</a>
    {{/each}}
    </div>

    <div class="w3-bar w3-theme-l2">
        <span class="w3-bar-item"><b>{{classrec.name}}</b></span>
        <span class="w3-bar-item w3-right">controls: {{classrec.control_count}}</span>
        <span class="w3-bar-item w3-right">climb: {{classrec.climb}}</span>
        <span class="w3-bar-item w3-right">length: {{classrec.length}}</span>
    </div>

    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-theme-l1">
            <th>Start</th>
            <th>Name</th>
            <th>Registration</th>
            <th>Check</th>
            <th>Finish</th>
            <th>Time</th>
            <th>Status</th>
            <th>Run Id</th>
        </tr>
        </thead>
        <tbody>
        {{#each runs}}
            <tr>
                <td class="w3-right-align">{{obtime start_time_sec }}</td>
                <td>{{ run.runner_name }}</td>
                <td>{{ run.registration }}</td>
                <td>{{dtstr run.check_time }}</td>
                <td>{{obtimems finish_time_msec }}</td>
                <td class="w3-right-align">{{obtimems time_msec }}</td>
                <td>{{dtstr run.status }}</td>
                <td class="w3-right-align">{{ run.run_id }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


{{/inline}}
{{> layout}}
