{{#*inline "page"}}

    <h2>Results</h2>
    <h3><a href="/event/{{ event.id }}">{{ event.name }}</a></h3>

    <div>
    {{#each classes}}
        <a class="w3-button" href="/event/{{ ../event.id }}/results?class_name={{this.name}}">{{ this.name }}</a>
    {{/each}}
    </div>

    <div class="w3-bar w3-theme-l2">
        <span class="w3-bar-item"><b>{{classrec.name}}</b></span>
        <span class="w3-bar-item w3-right">controls: {{classrec.control_count}}</span>
        <span class="w3-bar-item w3-right">climb: {{classrec.climb}}</span>
        <span class="w3-bar-item w3-right">length: {{classrec.length}}</span>
    </div>

    <table id="table" data-start00="{{ start00 }}" class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-theme-l1">
            <th data-field-name="start_time" data-field-type="ObTime" class="w3-right-align">Start</th>
            <th data-field-name="name">Name</th>
            <th data-field-name="registration">Registration</th>
            <th data-field-name="check_time" class="w3-right-align">Check</th>
            <th data-field-name="finish_time" class="w3-right-align">Finish</th>
            <th data-field-name="time" class="w3-right-align">Time</th>
            <th data-field-name="run_id">Run Id</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

    <script src="/js/utils.js"></script>
    <script>
        const runs = {{stringify runs}};
        <!--const changes = {{stringify changes}};-->
        fillTable(document.getElementById('table'), runs);
    </script>

{{/inline}}
{{> layout}}
