{{#*inline "page"}}

    <h2>Start list</h2>
    <h3><a href="/event/{{ event.id }}">{{ event.name }}</a></h3>
    <div class="w3-bar">
        {{#if user}}
            <button onclick="newEntry()" class="w3-button w3-theme w3-round-large">New entry</button>
        {{/if}}
    </div>
    <div>
    {{#each classes}}
        <a class="w3-button" href="/event/{{ ../event.id }}/startlist?class_name={{this.name}}">{{ this.name }}</a>
    {{/each}}
    </div>

    <div class="w3-bar w3-theme-l2">
        <span class="w3-bar-item"><b>{{classrec.name}}</b></span>
        <span class="w3-bar-item w3-right">controls: {{classrec.control_count}}</span>
        <span class="w3-bar-item w3-right">climb: {{classrec.climb}}</span>
        <span class="w3-bar-item w3-right">length: {{classrec.length}}</span>
    </div>

    <table id="table" class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-theme-l1">
            {{#if user}}
                <th>Edit</th>
            {{/if}}
            <th data-col-name="start_time">Start</th>
            <th data-col-name="name">Name</th>
            <th data-col-name="registration">Registration</th>
            <th data-col-name="si_id">SI</th>
            <th data-col-name="edited_by">Edited by</th>
            <th data-col-name="run_id">Run Id</th>
        </tr>
        </thead>
        <tbody>
        {{#each runs}}
            <tr
                data-start_time="{{ start_time }}"
                data-last_name="{{ last_name }}"
                data-first_name="{{ first_name }}"
                data-registration="{{ registration }}"
                data-si_id="{{ si_id }}"
                data-edited_by="{{ edited_by }}"
                data-run_id="{{ run_id }}"
            >
                {{#if ../user}}
                    <td>
                        <i onclick="editEntry('{{ last_name }}', '{{ first_name }}', '{{ registration }}', '{{ si_id }}')" class="fa fa-pencil-square-o"></i>
                    </td>
                {{/if}}
                <td class="w3-right-align" ></td>
                <td></td>
                <td></td>
                <td class="w3-right-align"></td>
                <td></td>
                <td class="w3-right-align"></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <script src="/js/utils.js"></script>
    <script>

    formatRunTable('{{ start00 }}');

    function newEntry() {
        let doc = document.getElementById('dlg')
        doc.style.display='block'
    }
    function editEntry(first_name, last_name, registration, si) {
        let doc = document.getElementById('dlg')
        doc.querySelector('input[name="first_name"]').value = first_name;
        doc.querySelector('input[name="last_name"]').value = last_name;
        doc.querySelector('input[name="registration"]').value = registration;
        doc.querySelector('input[name="si"]').value = si;

        doc.style.display='block'
    }
    function saveDialog(name, registration, si) {
        document.getElementById('dlg').style.display='none'
    }
    function hideDialog(name, registration, si) {
        document.getElementById('dlg').style.display='none'
    }
    </script>

    <div id="dlg" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-padding w3-theme">
                <h2 class="">Edit runner</h2>
            </div>
            <div class="w3-panel">
                <label>
                    First Name
                    <input class="w3-input w3-border" type="text" name="first_name" required>
                </label>
                <label>
                    Last Name
                    <input class="w3-input w3-border" type="text" name="last_name" required>
                </label>
                <label>
                    Registration
                    <input class="w3-input w3-border" type="text" name="registration" required>
                </label>
                <label>
                    SI Card
                    <input class="w3-input w3-border" type="number" name="si" required>
                </label>
            </div>

            <div class="w3-padding w3-light-grey">
                <button onclick="hideDialog()" type="button" class="w3-button  w3-round-large w3-red">Cancel</button>
                <button onclick="document.getElementById('dlg').style.display='none'" class="w3-button w3-green  w3-round-large w3-right" type="button">Save</button>
            </div>

        </div>
    </div>

{{/inline}}
{{> layout}}
